<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet"
          type="text/css"></link>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"
          type="text/css"></link>
    <link href="css/style.css" rel="stylesheet" type="text/css"></link>
    <title>Error Occurred</title>
</head>
<body>
<div>
    <h1>Something went wrong! </h1>
    <h2>Please check if you did select a location?</h2>
</div>
</body>
</html>