<!DOCTYPE html>
<!--Template for locations drop down selection-->
<html>
<head>
    <meta charset="UTF-8"></meta>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet"
          type="text/css"></link>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"
          type="text/css"></link>
    <link href="css/style.css" rel="stylesheet" type="text/css"></link>
    <title>Weather App</title>
</head>
<body>
<h1>Pick a Location</h1>
<div>
    <form method="get" th:action="@{/weather}" th:object="${locations}">
        <select class="select-css" name="selectedLocation">
            <option value="0">select location</option>
            <option th:each="location : ${locations}" th:text="${location.text}" th:value="${location.text}"></option>
        </select>
        <p><input class="btn" type="submit" value="submit"/></p>
    </form>
</div>
</body>
</html>
